.footer-box {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  display: grid;
  grid-template-columns: max-content max-content max-content;

  @media screen and (max-width: 1150px) {
    grid-template-columns: max-content max-content;
  }

  @media screen and (max-width: 760px) {
    grid-template-columns: auto;
    justify-content: center;
  }

  & > * {
    @media screen and (max-width: 760px) {
      justify-self: center;
    }
  }

  justify-content: space-between;
  background-color: #e1e8f8;
  padding: 7.6rem 4rem;
  border-radius: 1.8rem;

  & > * {
    align-self: center;
  }

  @media screen and (max-width: 1500px) {
    padding: 7rem 3rem;
    padding: 7.6rem 4rem 2rem 4rem;

    row-gap: 3rem;
  }
}

.footer {
  &__copyright {
    font-size: 2.4rem;

    text-align: center;
  }
  &__nav {
    @media screen and (max-width: 482px) {
      width: 100%;
    }
    ul {
      display: flex;
      gap: 7.2rem;
      font-size: 2.4rem;

      @media screen and (max-width: 482px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
      }

      @media screen and (max-width: 1500px) {
        gap: 3.2rem;
      }
    }

    a {
      color: rgba(0, 0, 0, 0.75);
    }

    .active-footer-link {
      color: #000;
    }
  }

  &__social-icons {
    display: flex;
    gap: 2.697rem;

    @media screen and (max-width: 1500px) {
      gap: 2rem;
    }

    a {
      height: 33px;
      width: 33px;
      img {
        width: 100%;
      }
    }
  }
}

.footer-child {
  &__1 {
    @media screen and (max-width: 1150px) {
      grid-row: 3/4;
      grid-column: 1/-1;
      justify-self: center;
    }
  }

  &__2 {
  }

  &__3 {
  }
}
